---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import Cards1 from "../components/Cards1.svelte";
---

<Layout title="GameToLearnKorean">
	<NavBar />
	<main>
		<Cards1 client:load/>
	</main>
</Layout>

<style></style>
